/* Navbar */
:root {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 200;
}

header {
  width: 100%;
  height: min(100vh, 150px);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.header-inner-cont {
  display: flex;
  align-items: center;
  width: min(95%, 112rem);
  height: inherit;
  color: aquamarine;
  margin-inline: auto;
}

.navbar img {
  width: 15rem;
}

/* Hero */

.hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto auto;
  width: min(95%, 112rem);
  margin-inline: auto;
  margin-top: 6rem;
  padding-inline: 1rem;
}

.hero-container img {
  width: 100%;
  max-width: 1500px;
  justify-self: center;
  grid-column: 1/-1;
  padding-bottom: 7rem;
}

.hero-container h1 {
  font-weight: 500;
  font-size: calc(var(--step-5) + 1rem);
  grid-column: 1/2;
  line-height: 1.2;
  padding-block-end: 1rem;
}

.hero-container p {
  font-size: calc((var(--step-3)));
  grid-column: 1/2;
  width: 100%;
  max-width: 35ch;
  max-width: 50ch;
  padding-block-end: 7rem;
  transition: all 1s;
}


/* Cards */

.card-container {
  display: flex;
  flex-wrap: nowrap;
  width: min(95%, 112rem);
  margin-inline: auto;
  overflow-x: auto;
  gap: 5rem;
  margin-bottom: 2rem;
}

.card {
  width: 25rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.card--image {
  width: 100%;
  border-radius: 1rem;
  margin-block-end: 1rem;
}

.card--stats {
  margin-block-end: 0.6rem;
}

.card--stats * {
  display: inline;
}

.card--star {
  vertical-align: -3px;
  margin-inline-end: 5px;
}

.card--title {
  margin-inline-end: 2px;
}

/* Generic */

.bold {
  font-weight: 500;
}

/* Media Q's */


@media screen and (max-width: 760px) {

  /* Hero */

  .hero-container h1 {
    grid-column: 1/-1;
    font-size: calc(var(--step-5) - 0.2rem);
  }

  .hero-container p {
    font-size: calc(var(--step-2));
  }
}